/** Images */
img {max-width: 100%;vertical-align: middle;}

/** Figures */
figure > img { display: block; }

figcaption { font-size: 14px; }



@media screen and (min-width: 600px) { .row .half-width { width: 48%; } }
.row .one-third-width { width: 31.3333333%; }
.row .one-tenth-width { width: 10%; }
@media screen and (min-width: 600px) { .row .nine-tenth-width { width: 90%; } }
@media screen and (min-width: 600px) { .row .two-third-width { width: 64.6666666%; } }
@media screen and (min-width: 600px) { .row .left { margin-left: 0; margin-right: 2%; }
  .row .right { margin-left: 2%; margin-right: 0; } }
.row::after { content: ""; display: table; clear: both; }
