.profile_portrait{
	float:right !important;
	border-radius:100% !important;
	margin-left:20px !important;
	margin-left:1rem !important;
	width:100px !important;
}

.app_pic{ width:50px; height:50px; opacity: 0.3; filter: alpha(opacity=30);}

.app_pic:hover { opacity: 1; filter: alpha(opacity=100); }
